<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home")">
        <div class="sidebar-brand-icon">
            <img src="@Url.Content("~/NewBiz/img/logo-white.png")" class="toggleLogo">
        </div>
        <div class="sidebar-brand-text mx-3">
            <img src="@Url.Content("~/NewBiz/img/logo-text-white.png")" alt="TestCrowdLogo" class="toggleTextLogo">
        </div>
        <!---->
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Home")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <!-- Divider -->
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Profile
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Profile")">
            <i class="fas fa-fw fa-user"></i>
            <span>Info</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Administration
    </div>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Admins", "Administration")">
            <i class="fas fa-fw fa-user-cog"></i>
            <span>Admins</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("SoftwareTypes", "Administration")">
            <i class="fas fa-fw fa-atlas"></i>
            <span>Software types</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("TestCategories", "Administration")">
            <i class="fas fa-fw fa-sitemap"></i>
            <span>Test categories</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->