<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/NewBiz/img/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/NewBiz/img/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/NewBiz/img/favicon-16x16.png")">
    <!--<link rel="manifest" href="Url.Content("~/NewBiz/img/site.webmanifest")">-->
    <!-- Custom fonts for this template-->
    <link href="@Url.Content("~/Areas/Testing/startbootstrap-sb-admin-2-gh-pages/vendor/fontawesome-free/css/all.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="@Url.Content("~/Areas/Testing/startbootstrap-sb-admin-2-gh-pages/css/sb-admin-2.css")" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="@Url.Content("~/Areas/Testing/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css")" rel="stylesheet">
    <link href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css" rel="stylesheet">

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="@Url.Content("~/Areas/Testing/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js")"></script>
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    @{ Html.RenderAction("Menu", "Home"); }
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    @{ Html.RenderAction("ProfileInfo", "Home"); }
                </ul>
            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid" id="dynamicContent">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; TestCrowd 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="@Url.Action("Logout", "Login", new{area=""})">Logout</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script src="@Url.Content("~/Areas/Testing/startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
<!-- Core plugin JavaScript-->
<script src="@Url.Content("~/Areas/Testing/startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js")"></script>
<!-- Custom scripts for all pages-->
<script src="@Url.Content("~/Areas/Testing/startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js")"></script>

<!-- Page level plugins -->
<script src="@Url.Content("~/Areas/Testing/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Areas/Testing/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.js")"></script>

<!-- Page level custom scripts -->
<script src="@Url.Content("~/Areas/Testing/startbootstrap-sb-admin-2-gh-pages/js/demo/datatables-demo.js")"></script>
<script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>

<script>
    $(document).ready(function () {
        // show the alert
        setTimeout(function () {
            $(".alert").fadeTo(750, 0).slideUp(0, function () {
                $(this).remove();
            });
        }, 3000);
    });
</script>
